#API Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
MACRO_DATA_API_KEY=
TAVILY_API_KEY=

#AI Model
GEMINI_MODEL=gemini-3.1-flash-lite
CLAUDE_MODEL=claude-sonnet-4-5-20250929

# Agent Mode Settings
USE_MOCK_AI=false
USE_MOCK_CLAUDE=false

#krx login info
KRX_ID=
KRX_PW=